---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import Greetings from "../components/Greetings.jsx";
---
<BaseLayout pageTitle="Home">
	<Section className="bg-zinc-100">
		<h1 class="text-6xl">Astro blog example</h1>
		<Greetings
			client:load
			messages={[
				"Hello there!",
				"Welcome!",
				"Thanks for checking out!",
				"Howdy!",
				"Hi",
			]}
		/>
		<h2 class="text-2xl">Following the turorial but not that straight</h2>
	</Section>
</BaseLayout>