---
import Social from "./Social.astro"
const platform = "github"
const user = "withastro"
---
<footer class="w-screen h-40 grid place-content-center bg-[var(--theme-accent-color)] text-[var(--theme-secondary-color)] ">
    <div class="flex gap-8">
        <Social platform="twitter" username="astrodotbuild" />
        <Social platform="github" username="withastro" />
        <Social platform="youtube" username="astrodotbuild" />
    </div>
</footer>